*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: auto;
  background: rgba(0, 0, 225, .8);
}
.big_container{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15%;
    scale: 1.8;
}
.container{
    width: 280px;
    height: 150px;
    background: rgb(225 225 225);
    padding: 5px;
    border-radius: 15px;
    margin: 2px;
    
}
.playername1 img{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.playername2 img{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.active{
    margin: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 10px;
    font-size: 48px;
    color: red;
}
.current{
    background-color: red;
    width: 80px;
    position: relative;
    left: 110px;
    top: 30px;
}
.score{
    color: #fff;
}
.svg{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 200px;
}
button{
    background-color: none;
    border: none;
    border-radius: 12px;
    color: black;
    margin: 5px;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bolder;
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover{
    background-color: red;
    color: white;
}
